<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>yes yes yes</li>
            <li>no no no</li>
        </ul>
    </nav>
    <section>
        <div>
            <img src="https://images.pexels.com/photos/1002703/pexels-photo-1002703.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="plant">
        </div>
        <div>
            <h1>Plants</h1>
            <p>plants are saving the world</p>
        </div>
    </section>
    <form action="">
        <label for="name">Name for this plant: <input type="text" id="name"></label>
    </form>
    <a href="https://www.youtube.com/"> go here</a>
</body>
</html>