<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title of the page</title>
    <style>
        * {
            font-family: Helvetica;
        }
        h1 {
            color: blue;
        }
        #juicefruit {
            color: red;
        }
        #fruitjuice {
            color: aqua;
        }
    </style>
</head>
<body>
    <header>
        <h1>Big title yes</h1>
    </header>
    <div id="juicefruit" class="fruitjuice">One please</div>
</body>
</html>